body {
    font-family: Arial, sans-serif;
    background-color: #fff0e6;
    margin: 0;
    text-align: center;
}

header {
    background-color: #ff704d;
    color: white;
    padding: 20px;
}

nav {
    background-color: #ff9980;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #ff704d;
    color: white;
    padding: 10px;
}

img {
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}
